<template>
  <div id="app" class="flex-center">
    <vapp-select-dog
      :dogs="dogs"
      :selected="selected"
      :dogDefault="random_dog"
    />
    <name-generator/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import VappSelectDog from './components/VappSelectDog'
import NameGenerator from './components/NameGenerator'

export default {
  name: 'app',
  components: {
    VappSelectDog,
    NameGenerator
  },

  data() {
    return {
      selected: this.$store.state.selected
    }
  },
  mounted() {
    this.$store.dispatch('loadRandomDog')
    this.$store.dispatch('loadDogs')
  },
  computed: {
    ...mapState([
      'dogs',
      'random_dog'
    ])
  }
}
</script>
<style>
img {width: 100%;}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#app {
  width: 100%;
  min-height: 100vh;
}
</style>

